

.Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3bb19b;
    padding: 50px 80px;
    color: #fff;
}

.Footer-left img{
    width:10vw;
    height:100%;
}
.Footer-left-text{
    width:50vw;

}
.Footer-left-text p{
    margin-top:1rem;
    font-size:20px;
}
.Footer-right{
    display:flex;
    align-items: center;
}
.icons {
    height:2rem;
    border-radius: 50%;
    padding: 7px;
    background-color: rgb(79, 77, 77);
    color: #fff;
    font-size: 1.3rem;
    margin: 0.7rem;
}

@media screen and (max-width:768px){
    .Footer{
        flex-direction: column;
    }
    .Footer-left-text{
        width:100%; 
        font-size:smaller;
    }
    .Footer-right{
        margin-top:1rem;
    }
    .Footer-left img{
        height:8vh;
    }
}